@model TextAdventure.MVC.Models.UserInput

@{
    ViewBag.Title = "UserInputView";
}

<h2>UserInputView</h2>

<p>Some action</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
